.Main {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 1.3em;
  padding: 0 15px;

  &_Left {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &_Right {
    display: flex;
    flex-direction: column;
    text-align: right;
    row-gap: 4px;

    &_Social {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      column-gap: 4px;
      // align-items: flex-end;

      &>button {
        // padding: 0 !important;
        height: auto;
      }
    }
  }
}