$white: #FFFFFF;
$neutral-90: #E6E6E6;
$neutral-75: #CCCCCC;
$neutral-60: #999999;
$neutral-50: #888888;
$neutral-40: #666666;
$neutral-25: #444444;
$neutral-10: #1A1A1A;
$black: #000000;
$success-0: #98F5A9;
$success-100: #3D6344;
$error-0: #F598A8;
$error-100: #633D44;