.Text {

  &_Normal {
    font-family: 'Open Sans' !important;
    line-height: 1.3em;
    letter-spacing: 1.1pt;
    font-size: 12px;

  }
  
  &_Box {
    line-height: 1.4em;
    letter-spacing: 1.1pt;
    font-size: 16px;
  }

  &_Section {
    font-family: 'DM Serif Display' !important;
    letter-spacing: 1px;
    line-height: 1.2em;
    font-size: 25px;
    text-rendering: optimizeLegibility;
  }
}

.Box {
  background-color: #7E161080;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DetailsList {
  overflow-y: auto;
  height: 306px;

  &_Item {

    &_Label {
      text-align: left;
      font-weight: 500;
      line-height: 1.2em;
    }

    &_Desc {
      text-align: left !important;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}