@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --background-color: white;
  --background-color-75: #CCCCCC;
  --background-color-50: #888888;
  --background-color-25: #444444;
  --foreground-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --background-color-75: #444444;
    --background-color-50: #888888;
    --background-color-25: #CCCCCC;
    --foreground-color: white;
  }
}

:root {
  --neutral-10: #1A1A1A;
  --neutral-25-light: #333333;
  --neutral-25: #333333;
  --neutral-40: #666666;
  --neutral-40-light: #666666;
  --neutral-50: #888888;
  --neutral-60: #999999;
  --neutral-60-light: #999999;
  --neutral-75: #CCCCCC;
  --neutral-75-light: #CCCCCC;
  --neutral-90: #E6E6E6;
  --black: #000000;
  --white: #FFFFFF;
  --success-0: green;
  --success-100: #98F5A9;
  --error-0: #F598A8;
  --error-100: #E72323;
}

@media (prefers-color-scheme: dark) {
  :root {
    --neutral-10: #E6E6E6;
    --neutral-25: #CCCCCC;
    --neutral-40: #999999;
    --neutral-60: #666666;
    --neutral-75: #333333;
    --neutral-90: #1A1A1A;
    --black: #FFFFFF;
    --white: #000000;
    --success-0: #98F5A9;
    --success-100: green;
    --success: #98F5A9;
    --error-0: #E72323;
    --error-100: #F598A8;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global Style */
html {
  overflow: hidden;
  color-scheme: light;
}

* {
  font-family: 'Jost' !important;
}

body {
  color: rgb(var(--foreground-color));
  background-color: rgb(var(--background-color));
  overflow-x: hidden;
  height: 100vh;
}

html {
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.app-main {
  padding: 8px 0;
  display: flex;
  justify-content: center;
}

.app-main-content {
  width: 100%;
  max-width: 800px;
}

/* --------------------------------------------------- */
.app-header {
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  padding: 13px;
}

.app-content {
  padding: 0px 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.app-image {
  object-fit: cover;
}

.app-footer {
  text-align: center;
  padding: 10px 20px
}

body::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--neutral-40-light);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--neutral-60-light);
}

body::-webkit-scrollbar-thumb:active {
  background-color: var(--neutral-25-light);
}