.Main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;

  &_Logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;

    &_Left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &_PagesLink {
    text-transform: uppercase;
    transition: all 75ms ease-in-out !important;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
}

.Slogan {
  font-size: 12px;
  line-height: 1em;
  font-family: 'DM Serif Display' !important;
  padding-bottom: 8px;
  font-style: italic;
  letter-spacing: 1pt;
  white-space: nowrap;
}

.Drawer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &_Title {
    color: white;
  }
}